# 第2章: UNIXコマンド

popular-names.txtは，アメリカで生まれた赤ちゃんの「名前」「性別」「人数」「年」をタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，popular-names.txtを入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ．

In [1]:
def get_raw(path):
    with open(path, mode='r') as f:
        return f.read()

In [2]:
def get_lines(path):
    with open(path, mode='r') as f:
        s = [s.strip() for s in f.readlines()]
    return s

In [3]:
import os
input_path = os.path.join(os.getcwd(), '../data/popular-names.txt')
# get_lines(input_path)

## 10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

In [4]:
len(get_lines(input_path))

2780

In [5]:
!wc ../data/popular-names.txt

 2780 11120 55026 ../data/popular-names.txt

## 11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [6]:
output = [s.replace('\t', ' ') for s in get_lines(input_path)]
# print(output)

In [7]:
# !expand ../data/popular-names.txt

## 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [8]:
col1 = [s.strip().split()[0] for s in get_lines(input_path)]
col2 = [s.strip().split()[1] for s in get_lines(input_path)]

In [9]:
with open('col1.txt', 'w') as f:
    for s in col1:
        print(s, file=f)

In [10]:
with open('col2.txt', 'w') as f:
    for s in col2:
        print(s, file=f)

In [11]:
# !cut -f 1 ../data/popular-names.txt

In [12]:
# !cut -f 2 ../data/popular-names.txt

## 13. col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [13]:
col1 = get_lines('col1.txt')
col2 = get_lines('col2.txt')
with open('col1_col2.txt', 'w') as f:
    for s1, s2 in zip(col1, col2):
        print(s1 + '\t' + s2, file=f)

In [14]:
# 改行コード変換
!tr -d '\r' < col1.txt > col1_tr.txt
!tr -d '\r' < col2.txt > col2_tr.txt

In [15]:
# !paste col1_tr.txt col2_tr.txt

## 14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [16]:
def show_head(n: int):
    lines = get_lines(input_path)
    for i in range(n):
        print(lines[i])

In [17]:
show_head(n=5)

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880

In [18]:
!head -n 5 ../data/popular-names.txt

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880

## 15. 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [19]:
def show_tail(n: int):
    lines = get_lines(input_path)
    for i in range(len(lines)-n, len(lines)):
        print(lines[i])

In [20]:
show_tail(n=5)

Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

In [21]:
!tail -n 5 ../data/popular-names.txt

Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

# 16. ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [22]:
def split_line(n: int):
    lines = get_lines(input_path)
    l = len(lines) // n + 1
    return [lines[l * i : l * (i+1)] for i in range(n)]

In [23]:
split_line(200)[0]

['Mary\tF\t7065\t1880',
 'Anna\tF\t2604\t1880',
 'Emma\tF\t2003\t1880',
 'Elizabeth\tF\t1939\t1880',
 'Minnie\tF\t1746\t1880',
 'Margaret\tF\t1578\t1880',
 'Ida\tF\t1472\t1880',
 'Alice\tF\t1414\t1880',
 'Bertha\tF\t1320\t1880',
 'Sarah\tF\t1288\t1880',
 'John\tM\t9655\t1880',
 'William\tM\t9532\t1880',
 'James\tM\t5927\t1880',
 'Charles\tM\t5348\t1880']

In [24]:
# なぜ行数が合わない？
!split -n l/1/200 -d ../data/popular-names.txt

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880
Margaret	F	1578	1880
Ida	F	1472	1880
Alice	F	1414	1880
Bertha	F	1320	1880
Sarah	F	1288	1880
John	M	9655	1880
William	M	9532	1880
James	M	5927	1880
Charles	M	5348	1880
George	M	5126	1880

## 17. １列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはcut, sort, uniqコマンドを用いよ．

In [25]:
# set([s.split()[0] for s in get_lines(input_path)])

In [26]:
# !cut -f 1 ../data/popular-names.txt | sort | uniq

## 18. 各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [27]:
import pandas as pd

In [28]:
pd.read_table(input_path, delimiter='\t', names=[1, 2, 3, 4]).sort_values(by=3, ascending=False)

            1  2      3     4
1340    Linda  F  99689  1947
1360    Linda  F  96211  1948
1350    James  M  94757  1947
1550  Michael  M  92704  1957
1351   Robert  M  91640  1947
...       ... ..    ...   ...
27      Annie  F   1326  1881
28     Bertha  F   1324  1881
8      Bertha  F   1320  1880
29      Alice  F   1308  1881
9       Sarah  F   1288  1880

[2780 rows x 4 columns]

In [29]:
# !sort -nr -k 3 ../data/popular-names.txt

## 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [30]:
(
    pd.read_table(input_path, delimiter='\t', names=[1, 2, 3, 4])
    .groupby(1)[2]
    .count()
    .sort_values(ascending=False)
)

1
James      118
William    111
Robert     108
John       108
Mary        92
          ...
Carolyn      1
Tracy        1
Scott        1
Kelly        1
Crystal      1
Name: 2, Length: 136, dtype: int64

In [31]:
# !cut -f 1 ../data/popular-names.txt | sort | uniq -c |sort -nr