# 第7章: 単語ベクトル

単語の意味を実ベクトルで表現する単語ベクトル（単語埋め込み）に関して，以下の処理を行うプログラムを作成せよ．

In [1]:
import os
import pandas as pd
import pickle

## 60. 単語ベクトルの読み込みと表示

Google Newsデータセット（約1,000億単語）での学習済み単語ベクトル（300万単語・フレーズ，300次元）をダウンロードし，”United States”の単語ベクトルを表示せよ．ただし，”United States”は内部的には”United_States”と表現されていることに注意せよ．

In [3]:
# !pip install --upgrade gensim

In [12]:
from gensim.models import KeyedVectors

In [13]:
# 学習済み単語ベクトル
vector_path = os.path.join(os.getcwd(), '../data/GoogleNews-vectors-negative300.bin')

In [14]:
# 読み込み
wv_from_bin = KeyedVectors.load_word2vec_format(vector_path, binary=True)

In [6]:
wv_from_bin['United_States']

array([-3.61328125e-02, -4.83398438e-02,  2.35351562e-01,  1.74804688e-01,
       -1.46484375e-01, -7.42187500e-02, -1.01562500e-01, -7.71484375e-02,
        1.09375000e-01, -5.71289062e-02, -1.48437500e-01, -6.00585938e-02,
        1.74804688e-01, -7.71484375e-02,  2.58789062e-02, -7.66601562e-02,
       -3.80859375e-02,  1.35742188e-01,  3.75976562e-02, -4.19921875e-02,
       -3.56445312e-02,  5.34667969e-02,  3.68118286e-04, -1.66992188e-01,
       -1.17187500e-01,  1.41601562e-01, -1.69921875e-01, -6.49414062e-02,
       -1.66992188e-01,  1.00585938e-01,  1.15722656e-01, -2.18750000e-01,
       -9.86328125e-02, -2.56347656e-02,  1.23046875e-01, -3.54003906e-02,
       -1.58203125e-01, -1.60156250e-01,  2.94189453e-02,  8.15429688e-02,
        6.88476562e-02,  1.87500000e-01,  6.49414062e-02,  1.15234375e-01,
       -2.27050781e-02,  3.32031250e-01, -3.27148438e-02,  1.77734375e-01,
       -2.08007812e-01,  4.54101562e-02, -1.23901367e-02,  1.19628906e-01,
        7.44628906e-03, -9.03320312e-03,  1.14257812e-01,  1.69921875e-01,
       -2.38281250e-01, -2.79541016e-02, -1.21093750e-01,  2.47802734e-02,
        7.71484375e-02, -2.81982422e-02, -4.71191406e-02,  1.78222656e-02,
       -1.23046875e-01, -5.32226562e-02,  2.68554688e-02, -3.11279297e-02,
       -5.59082031e-02, -5.00488281e-02, -3.73535156e-02,  1.25976562e-01,
        5.61523438e-02,  1.51367188e-01,  4.29687500e-02, -2.08007812e-01,
       -4.78515625e-02,  2.78320312e-02,  1.81640625e-01,  2.20703125e-01,
       -3.61328125e-02, -8.39843750e-02, -3.69548798e-05, -9.52148438e-02,
       -1.25000000e-01, -1.95312500e-01, -1.50390625e-01, -4.15039062e-02,
        1.31835938e-01,  1.17675781e-01,  1.91650391e-02,  5.51757812e-02,
       -9.42382812e-02, -1.08886719e-01,  7.32421875e-02, -1.15234375e-01,
        8.93554688e-02, -1.40625000e-01,  1.45507812e-01,  4.49218750e-02,
       -1.10473633e-02, -1.62353516e-02,  4.05883789e-03,  3.75976562e-02,
       -6.98242188e-02, -5.46875000e-02,  2.17285156e-02, -9.47265625e-02,
        4.24804688e-02,  1.81884766e-02, -1.73339844e-02,  4.63867188e-02,
       -1.42578125e-01,  1.99218750e-01,  1.10839844e-01,  2.58789062e-02,
       -7.08007812e-02, -5.54199219e-02,  3.45703125e-01,  1.61132812e-01,
       -2.44140625e-01, -2.59765625e-01, -9.71679688e-02,  8.00781250e-02,
       -8.78906250e-02, -7.22656250e-02,  1.42578125e-01, -8.54492188e-02,
       -3.18359375e-01,  8.30078125e-02,  6.34765625e-02,  1.64062500e-01,
       -1.92382812e-01, -1.17675781e-01, -5.41992188e-02, -1.56250000e-01,
       -1.21582031e-01, -4.95605469e-02,  1.20117188e-01, -3.83300781e-02,
        5.51757812e-02, -8.97216797e-03,  4.32128906e-02,  6.93359375e-02,
        8.93554688e-02,  2.53906250e-01,  1.65039062e-01,  1.64062500e-01,
       -1.41601562e-01,  4.58984375e-02,  1.97265625e-01, -8.98437500e-02,
        3.90625000e-02, -1.51367188e-01, -8.60595703e-03, -1.17675781e-01,
       -1.97265625e-01, -1.12792969e-01,  1.29882812e-01,  1.96289062e-01,
        1.56402588e-03,  3.93066406e-02,  2.17773438e-01, -1.43554688e-01,
        6.03027344e-02, -1.35742188e-01,  1.16210938e-01, -1.59912109e-02,
        2.79296875e-01,  1.46484375e-01, -1.19628906e-01,  1.76757812e-01,
        1.28906250e-01, -1.49414062e-01,  6.93359375e-02, -1.72851562e-01,
        9.22851562e-02,  1.33056641e-02, -2.00195312e-01, -9.76562500e-02,
       -1.65039062e-01, -2.46093750e-01, -2.35595703e-02, -2.11914062e-01,
        1.84570312e-01, -1.85546875e-02,  2.16796875e-01,  5.05371094e-02,
        2.02636719e-02,  4.25781250e-01,  1.28906250e-01, -2.77099609e-02,
        1.29882812e-01, -1.15722656e-01, -2.05078125e-02,  1.49414062e-01,
        7.81250000e-03, -2.05078125e-01, -8.05664062e-02, -2.67578125e-01,
       -2.29492188e-02, -8.20312500e-02,  8.64257812e-02,  7.61718750e-02,
       -3.66210938e-02,  5.22460938e-02, -1.22070312e-01, -1.44042969e-02,
       -2.69531250e-01,  8.44726562e-02, -2.52685547e-02, -2.96630859e-02,
       -1.68945312e-01,  1.93359375e-01, -1.08398438e-01,  1.94091797e-02,
       -1.80664062e-01,  1.93359375e-01, -7.08007812e-02,  5.85937500e-02,
       -1.01562500e-01, -1.31835938e-01,  7.51953125e-02, -7.66601562e-02,
        3.37219238e-03, -8.59375000e-02,  1.25000000e-01,  2.92968750e-02,
        1.70898438e-01, -9.37500000e-02, -1.09375000e-01, -2.50244141e-02,
        2.11914062e-01, -4.44335938e-02,  6.12792969e-02,  2.62451172e-02,
       -1.77734375e-01,  1.23046875e-01, -7.42187500e-02, -1.67968750e-01,
       -1.08886719e-01, -9.04083252e-04, -7.37304688e-02,  5.49316406e-02,
        6.03027344e-02,  8.39843750e-02,  9.17968750e-02, -1.32812500e-01,
        1.22070312e-01, -8.78906250e-03,  1.19140625e-01, -1.94335938e-01,
       -6.64062500e-02, -2.07031250e-01,  7.37304688e-02,  8.93554688e-02,
        1.81884766e-02, -1.20605469e-01, -2.61230469e-02,  2.67333984e-02,
        7.76367188e-02, -8.30078125e-02,  6.78710938e-02, -3.54003906e-02,
        3.10546875e-01, -2.42919922e-02, -1.41601562e-01, -2.08007812e-01,
       -4.57763672e-03, -6.54296875e-02, -4.95605469e-02,  2.22656250e-01,
        1.53320312e-01, -1.38671875e-01, -5.24902344e-02,  4.24804688e-02,
       -2.38281250e-01,  1.56250000e-01,  5.83648682e-04, -1.20605469e-01,
       -9.22851562e-02, -4.44335938e-02,  3.61328125e-02, -1.86767578e-02,
       -8.25195312e-02, -8.25195312e-02, -4.05273438e-02,  1.19018555e-02,
        1.69921875e-01, -2.80761719e-02,  3.03649902e-03,  9.32617188e-02,
       -8.49609375e-02,  1.57470703e-02,  7.03125000e-02,  1.62353516e-02,
       -2.27050781e-02,  3.51562500e-02,  2.47070312e-01, -2.67333984e-02],
      dtype=float32)

## 61. 単語の類似度
“United States”と”U.S.”のコサイン類似度を計算せよ．

In [7]:
wv_from_bin['U.S.']

array([ 1.34887695e-02, -5.92041016e-03,  1.03515625e-01,  1.22070312e-01,
       -1.87500000e-01, -6.49414062e-02, -1.62109375e-01, -2.30712891e-02,
        9.08203125e-02, -8.98437500e-02, -1.86523438e-01,  3.93676758e-03,
        1.66015625e-01, -4.37011719e-02, -1.09375000e-01, -5.88378906e-02,
       -1.45507812e-01, -4.37011719e-02, -3.36914062e-02, -7.61718750e-02,
       -1.97265625e-01,  6.98242188e-02, -1.42578125e-01, -1.19628906e-01,
       -1.31225586e-02,  1.21582031e-01, -6.07910156e-02, -1.15356445e-02,
       -5.12695312e-02,  2.30468750e-01,  2.75390625e-01, -2.41210938e-01,
       -1.66015625e-01, -1.32812500e-01,  3.68652344e-02, -5.44433594e-02,
       -1.62353516e-02, -8.00781250e-02, -1.29394531e-02,  3.11279297e-02,
        3.54003906e-03, -3.56445312e-02,  1.63085938e-01,  1.24511719e-01,
       -6.98242188e-02,  2.08007812e-01, -3.49121094e-02,  1.87500000e-01,
       -5.27343750e-02,  1.13281250e-01,  2.27050781e-02,  1.18652344e-01,
        4.27246094e-02, -1.76239014e-03,  7.53784180e-03,  1.77734375e-01,
       -1.52343750e-01,  3.32031250e-02, -3.95507812e-02,  5.46264648e-03,
       -1.35742188e-01, -1.87988281e-02, -7.27539062e-02,  9.81445312e-02,
       -1.67968750e-01, -3.66210938e-02,  2.97851562e-02,  1.37329102e-03,
        1.92871094e-02, -9.13085938e-02, -8.44726562e-02, -1.12304688e-02,
        9.82666016e-03,  1.31835938e-01,  2.24304199e-03, -3.80859375e-02,
       -7.12890625e-02,  1.69921875e-01, -5.02929688e-02,  2.74658203e-02,
       -2.64892578e-02, -1.50390625e-01, -1.03027344e-01,  5.34667969e-02,
       -8.10546875e-02, -2.51953125e-01, -1.41601562e-01, -4.94384766e-03,
       -1.15966797e-02,  3.75976562e-02,  2.01416016e-02,  1.18652344e-01,
       -8.98437500e-02, -1.42578125e-01,  7.27539062e-02,  2.49023438e-02,
        9.42382812e-02, -2.07519531e-02,  1.54296875e-01, -1.16699219e-01,
       -1.34765625e-01,  1.04980469e-01,  1.25000000e-01,  1.42822266e-02,
       -2.90527344e-02,  7.81250000e-02,  4.85839844e-02, -1.17675781e-01,
       -1.11083984e-02, -6.98089600e-04,  9.57031250e-02, -3.28063965e-03,
       -1.79687500e-01,  1.26953125e-01,  2.14843750e-02, -3.02734375e-02,
       -1.25976562e-01, -4.85839844e-02,  2.83203125e-01,  4.34570312e-02,
       -1.70898438e-01, -3.85742188e-02,  1.95312500e-02,  8.10546875e-02,
        1.23046875e-01, -5.83496094e-02,  2.32421875e-01, -1.03027344e-01,
       -1.04980469e-01,  1.04492188e-01, -3.41796875e-02,  8.39843750e-02,
       -1.03027344e-01, -5.10253906e-02, -1.23535156e-01, -1.46484375e-01,
        7.82012939e-04, -2.34375000e-01,  1.60980225e-03, -5.88378906e-02,
        2.39257812e-01, -1.23535156e-01, -6.83593750e-02,  3.55529785e-03,
       -1.15722656e-01,  1.34887695e-02,  8.00781250e-02,  9.71679688e-02,
       -1.56250000e-01, -3.61328125e-02,  1.31835938e-01, -1.86523438e-01,
        8.34960938e-02, -2.08007812e-01,  7.56835938e-02,  2.81982422e-02,
       -1.65039062e-01, -1.60156250e-01,  1.00585938e-01,  1.01562500e-01,
       -2.02636719e-02,  8.30078125e-02,  1.38671875e-01, -1.38671875e-01,
        6.03027344e-02, -1.26953125e-01,  2.02148438e-01,  6.83593750e-02,
        2.67578125e-01,  1.70898438e-01, -8.54492188e-02,  2.08984375e-01,
        4.68750000e-02, -1.59179688e-01,  1.47460938e-01, -2.50000000e-01,
        5.90820312e-02, -3.14941406e-02, -8.64257812e-02, -9.81445312e-02,
       -1.81640625e-01, -3.66210938e-02, -8.49609375e-02, -1.50146484e-02,
        3.27148438e-02, -6.25000000e-02,  2.25585938e-01, -2.13623047e-02,
        4.54101562e-02,  2.85156250e-01,  1.08886719e-01, -1.33789062e-01,
        2.24304199e-03, -1.86523438e-01, -1.24511719e-01,  1.64062500e-01,
       -6.22558594e-02, -2.40234375e-01,  9.58251953e-03, -1.43554688e-01,
       -8.83789062e-02, -3.47900391e-03,  6.22558594e-02,  7.66601562e-02,
        1.87988281e-02,  1.24511719e-01, -1.59179688e-01,  3.34472656e-02,
       -2.94921875e-01,  7.56835938e-02, -3.03955078e-02,  4.29687500e-02,
       -8.93554688e-02,  2.37304688e-01, -1.45507812e-01, -4.51660156e-02,
       -9.03320312e-03,  1.44531250e-01, -2.30468750e-01,  5.20019531e-02,
       -1.46484375e-01, -7.17773438e-02, -1.03149414e-02, -9.86328125e-02,
       -1.67968750e-01, -1.24511719e-01,  2.03857422e-02, -3.08227539e-03,
        2.01171875e-01, -1.40625000e-01,  1.44042969e-02, -1.21582031e-01,
        1.08398438e-01, -4.19921875e-02,  4.11987305e-04,  5.21850586e-03,
       -1.12792969e-01,  8.64257812e-02, -4.78515625e-02, -4.90722656e-02,
       -5.41992188e-02,  5.10253906e-02, -1.46484375e-02, -1.69677734e-02,
        5.87463379e-04,  3.29589844e-02,  6.54296875e-02,  6.77490234e-03,
        3.71093750e-02, -1.53198242e-02,  1.95312500e-02, -1.71875000e-01,
       -1.49414062e-01, -1.42578125e-01,  1.91650391e-02,  1.45507812e-01,
        1.17187500e-01,  1.26342773e-02,  2.23388672e-02, -6.88476562e-02,
        1.16210938e-01,  7.95898438e-02,  3.63769531e-02, -4.24804688e-02,
        3.30078125e-01,  1.49536133e-02, -1.91406250e-01, -2.53906250e-01,
        4.37011719e-02,  9.66796875e-02, -9.08203125e-02,  1.23046875e-01,
        4.73632812e-02, -2.34375000e-01,  3.63769531e-02,  1.97753906e-02,
       -8.98437500e-02,  4.29687500e-02,  5.61523438e-02, -6.68334961e-03,
       -8.25195312e-02,  3.60107422e-03, -2.57873535e-03,  7.61718750e-02,
        1.13769531e-01, -9.66796875e-02, -1.14746094e-01,  1.28906250e-01,
        1.61132812e-01,  1.34887695e-02,  2.53677368e-04,  3.14941406e-02,
        7.59887695e-03,  2.39257812e-02,  5.90820312e-02,  1.53808594e-02,
       -5.56640625e-02,  9.81445312e-02,  1.97265625e-01, -5.07812500e-02],
      dtype=float32)

In [9]:
wv_from_bin.similarity('United_States', 'U.S.')

0.73107743

## 62. 類似度の高い単語10件
“United States”とコサイン類似度が高い10語と，その類似度を出力せよ．

In [11]:
result = wv_from_bin.similar_by_word('United_States')

In [12]:
for k, s in result[:10]:
    print(k, s)

Unites_States 0.7877248525619507
Untied_States 0.7541370391845703
United_Sates 0.74007248878479
U.S. 0.7310774326324463
theUnited_States 0.6404393911361694
America 0.6178410053253174
UnitedStates 0.6167312264442444
Europe 0.6132988929748535
countries 0.6044804453849792
Canada 0.6019070148468018

## 63. 加法構成性によるアナロジー
“Spain”の単語ベクトルから”Madrid”のベクトルを引き，”Athens”のベクトルを足したベクトルを計算し，そのベクトルと類似度の高い10語とその類似度を出力せよ．

In [7]:
result = wv_from_bin.most_similar(positive=['Spain', 'Athens'], negative=['Madrid'])

In [8]:
for k, s in result[:10]:
    print(k, s)

Greece 0.6898480653762817
Aristeidis_Grigoriadis 0.5606849193572998
Ioannis_Drymonakos 0.555290937423706
Greeks 0.5450686812400818
Ioannis_Christou 0.5400862693786621
Hrysopiyi_Devetzi 0.5248445272445679
Heraklio 0.5207759141921997
Athens_Greece 0.516880989074707
Lithuania 0.5166865587234497
Iraklion 0.5146791338920593

## 64. アナロジーデータでの実験
[単語アナロジーの評価データ](http://download.tensorflow.org/data/questions-words.txt)をダウンロードし，vec(2列目の単語) - vec(1列目の単語) + vec(3列目の単語)を計算し，そのベクトルと類似度が最も高い単語と，その類似度を求めよ．求めた単語と類似度は，各事例の末尾に追記せよ．

### 関数準備

In [7]:
# vec2 - vec1 + vec3
def two_pos_one_neg(row):
    return wv_from_bin.most_similar(positive=[row['vec2'], row['vec3']], negative=[row['vec1']])[0]

pd.DataFrame([
    {
        'vec1': 'Madrid',
        'vec2': 'Spain',
        'vec3': 'Athens',
    },
    {
        'vec1': 'Athens',
        'vec2': 'Greece',
        'vec3': 'Baghdad',
    },
]).apply(two_pos_one_neg, axis=1, result_type='expand')

        0         1
0  Greece  0.689848
1   Iraqi  0.635187

### データ準備

In [8]:
# 読み込み
df = (
    pd.read_table('http://download.tensorflow.org/data/questions-words.txt', sep=' ')
    .reset_index()
)
df.head(3)

  level_0 level_1        : capital-common-countries
0  Athens  Greece  Baghdad                     Iraq
1  Athens  Greece  Bangkok                 Thailand
2  Athens  Greece  Beijing                    China

In [9]:
# 列名変更
df.columns = ['vec1', 'vec2', 'vec3', 'vec4']
df.head(3)

     vec1    vec2     vec3      vec4
0  Athens  Greece  Baghdad      Iraq
1  Athens  Greece  Bangkok  Thailand
2  Athens  Greece  Beijing     China

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19557 entries, 0 to 19556
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   vec1    19557 non-null  object
 1   vec2    19557 non-null  object
 2   vec3    19544 non-null  object
 3   vec4    19544 non-null  object
dtypes: object(4)
memory usage: 611.3+ KB

In [11]:
# 欠損
df.isnull().sum()

vec1     0
vec2     0
vec3    13
vec4    13
dtype: int64

In [12]:
# 種類の区切りで欠損になっている
df[df['vec3'].isnull()]

      vec1                         vec2 vec3 vec4
506      :                capital-world  NaN  NaN
5031     :                     currency  NaN  NaN
5898     :                city-in-state  NaN  NaN
8366     :                       family  NaN  NaN
8873     :    gram1-adjective-to-adverb  NaN  NaN
9866     :               gram2-opposite  NaN  NaN
10679    :            gram3-comparative  NaN  NaN
12012    :            gram4-superlative  NaN  NaN
13135    :     gram5-present-participle  NaN  NaN
14192    :  gram6-nationality-adjective  NaN  NaN
15792    :             gram7-past-tense  NaN  NaN
17353    :                 gram8-plural  NaN  NaN
18686    :           gram9-plural-verbs  NaN  NaN

In [13]:
# 区切り列を削除
df = df[~df['vec3'].isnull()]

In [14]:
# 欠損
df.isnull().sum()

vec1    0
vec2    0
vec3    0
vec4    0
dtype: int64

### 適用

In [15]:
%%time
# 試しに何行かにやってみて、時間見てみる
(
    df
    .loc[:100, :]
    .apply(two_pos_one_neg, axis=1, result_type='expand')
    .head(3)
)

Wall time: 15.4 s

          0         1
0     Iraqi  0.635187
1  Thailand  0.713767
2     China  0.723578

In [16]:
# 単純計算で3225s = 約53分かかる
len(df)

19544

In [17]:
# 類似度が最も高い単語と，その類似度
df_ans_cos = df.apply(two_pos_one_neg, axis=1, result_type='expand')

In [18]:
len(df_ans_cos)

19544

In [19]:
df_ans_cos.head(3)

          0         1
0     Iraqi  0.635187
1  Thailand  0.713767
2     China  0.723578

In [20]:
# 列名変更
df_ans_cos.columns = ['answer', 'cosine_similarity']
df_ans_cos.head(3)

     answer  cosine_similarity
0     Iraqi           0.635187
1  Thailand           0.713767
2     China           0.723578

In [22]:
# 各事例の末尾に追記
df = pd.concat([df, df_ans_cos], axis=1)

In [23]:
df.head(3)

     vec1    vec2     vec3      vec4    answer  cosine_similarity
0  Athens  Greece  Baghdad      Iraq     Iraqi           0.635187
1  Athens  Greece  Bangkok  Thailand  Thailand           0.713767
2  Athens  Greece  Beijing     China     China           0.723578

In [24]:
# 時間かかるので結果保存
with open('df_64.pickle', mode="wb") as f:
    pickle.dump(df, f)

## 65. アナロジータスクでの正解率
64の実行結果を用い，意味的アナロジー（semantic analogy）と文法的アナロジー（syntactic analogy）の正解率を測定せよ．

In [2]:
# 読み込み
with open('df_64.pickle', mode="rb") as f:
    df = pickle.load(f)

In [3]:
df.head(3)

     vec1    vec2     vec3      vec4    answer  cosine_similarity
0  Athens  Greece  Baghdad      Iraq     Iraqi           0.635187
1  Athens  Greece  Bangkok  Thailand  Thailand           0.713767
2  Athens  Greece  Beijing     China     China           0.723578

In [6]:
# 正解率
(df['vec4'] == df['answer']).sum() / len(df)

0.7358780188293083

## 66. WordSimilarity-353での評価
The WordSimilarity-353 Test Collectionの評価データをダウンロードし，単語ベクトルにより計算される類似度のランキングと，人間の類似度判定のランキングの間のスピアマン相関係数を計算せよ．

In [7]:
from scipy.stats import spearmanr

### データ読み込み

In [8]:
# 学習済み単語ベクトル
combined_path = os.path.join(os.getcwd(), '../data/combined.csv')

In [11]:
# 読み込み
df = pd.read_csv(combined_path)
df.head(3)

  Word 1 Word 2  Human (mean)
0   love    sex          6.77
1  tiger    cat          7.35
2  tiger  tiger         10.00

### 類似度算出

In [17]:
# Word 1とWord 2の類似度
def get_similarity(row):
    return wv_from_bin.similarity(row['Word 1'], row['Word 2'])

pd.DataFrame([
    {
        'Word 1': 'love',
        'Word 2': 'sex',
    },
    {
        'Word 1': 'tiger',
        'Word 2': 'cat',
    },
]).apply(get_similarity, axis=1)

0    0.263938
1    0.517296
dtype: float64

In [19]:
df['vector_score'] = df.apply(get_similarity, axis=1)

In [20]:
df.head(3)

  Word 1 Word 2  Human (mean)  vector_score
0   love    sex          6.77      0.263938
1  tiger    cat          7.35      0.517296
2  tiger  tiger         10.00      1.000000

### ランキング付け

In [24]:
df['human_rank'] = df['Human (mean)'].rank(ascending=False)
df['vector_rank'] = df['vector_score'].rank(ascending=False)

### スピアマン相関係数を計算

In [25]:
correlation, pvalue = spearmanr(df['human_rank'], df['vector_rank'])

In [26]:
print(correlation)

0.7000166486272194

## 67. k-meansクラスタリング
国名に関する単語ベクトルを抽出し，k-meansクラスタリングをクラスタ数k=5として実行せよ．